@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
/* 애니메션 효과를 넣고 이름을 rotate라고 하겠다.*/
@keyframes rotate {
    50% {
        transform: rotate(180deg);    
    }
    100% {
        transform: rotate(360deg);
    }
    /* 예를 들면 10초동안 애니메이션이 돌아간다고 하면 5초대까지 어떻게 할꺼다.*/
}

html,body {
    width : 100%;
    height: 100%;;
}

body {
    font: 'GmarketSansMedium';
    background-color: #5B2386;
    color: white;  /* 글자의 컬러 */
    
}

#contents{
    display: flex;  
    /* 간격을 똑같은 요소로 배치 */
    justify-content: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* 제목 이미지 */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.title .clock_img {
    width: 265px;
    height: 265px;
    
}

.title_img {
    position: absolute;
    width: 564px;
}

.title_img img {
    width: 100%;
    height: auto;
}
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}

.intro .intro_saying {
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #F5DF4D;
    margin-bottom: 50px;
}
